force-app/main/default/flows/Cl_contract_Update_POC_Required_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Cl contract Update POC Required Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cl contract Update POC Required Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_POC_Required_Field</name>
        <label>Update POC Required Field</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_POC_Required_Field_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Chapter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>POC_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POC_Required_Field_to_False</name>
        <label>Update POC Required Field to False</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Chapter__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>13</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>POC_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_POC_Required_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Chapter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>loan__Loan_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
