force-app/main/default/flows/Cl_Contract_Update_Agent_Processed_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Cl Contract Update Agent Processed Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cl Contract Update Agent Processed Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Agent_Processed_Date_To_NULL</name>
        <label>Update Agent Processed Date To NULL</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Agent_Processed_Date_to_Today_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Retention</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Processed_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Discharge_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Dismissal_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_Processed_Date_to_Today_Date</name>
        <label>Update Agent Processed Date to Today Date</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discharge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dismiss</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Processed_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Agent_Processed_Date_To_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bankruptcy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>loan__Loan_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
