force-app/main/default/flows/MW_AutoPassCreditSummaryTab.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Credit_flag_to_PASS</name>
        <label>Assign Credit flag to PASS</label>
        <locationX>455</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>Identity_Verification.Credit_Policy_Verification_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Identity_Verification.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identity_Verification.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Identity_verification_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ADVP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>agent_document_verification_pending</stringValue>
        </value>
    </constants>
    <constants>
        <name>greaterthan500</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>500.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>T1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>T1</stringValue>
        </value>
    </constants>
    <constants>
        <name>t2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>T2</stringValue>
        </value>
    </constants>
    <constants>
        <name>T3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>T3</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Already_PASSED</name>
        <label>Check If Already PASSED</label>
        <locationX>443</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Not_PASSED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identity_Verification.Credit_Policy_Verification_Flag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_flag_to_PASS</targetReference>
            </connector>
            <label>Already Not PASSED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_App_is_in_ADVP</name>
        <label>Check if App is in ADVP</label>
        <locationX>437</locationX>
        <locationY>111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADVP_status_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>agent_document_verification_pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_selected_Pricing_offer</targetReference>
            </connector>
            <label>ADVP status check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_pricing_tier_and_monthly_housing_payment</name>
        <label>Check pricing tier and monthly housing payment</label>
        <locationX>868</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_tier</name>
            <conditionLogic>5 AND (1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Pricing_offer.Pricing_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>t1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_selected_Pricing_offer.Pricing_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>t2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_selected_Pricing_offer.Pricing_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>t3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Housing_Payment_App__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>greaterthan500</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_selected_Pricing_offer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identity_Verification</targetReference>
            </connector>
            <label>Pricing tier T1,T2,T3 and stated housing payment is &gt;= $500</label>
        </rules>
    </decisions>
    <description>If Pricing Tier and Housing Income satisfies conditions then mark credit verification flag on Identity Verification object as true hence auto pass the Credit Summary tab.</description>
    <interviewLabel>MW_AutoPassCreditSummaryTab {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MW_AutoPassCreditSummaryTab</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>874</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_pricing_tier_and_monthly_housing_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.genesis__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Pricing_offer</name>
        <label>Get selected Pricing offer</label>
        <locationX>662</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Offer_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Identity_Verification</name>
        <label>Identity Verification</label>
        <locationX>676</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Already_PASSED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Identity_Verification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Identity_verification_record</name>
        <label>Update Identity verification record</label>
        <locationX>678</locationX>
        <locationY>488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Identity_Verification.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Policy_Verification_Flag__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <object>Identity_Verification__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_App_is_in_ADVP</targetReference>
        </connector>
        <object>genesis__Applications__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>app_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.genesis__Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>applicationstatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
