force-app/main/default/flows/MW_Create_Pending_KBA_Tag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Pending_KBA_tag_Already_Created</name>
        <label>Pending KBA tag Already Created?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tag_not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingKBATag</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pending_KBA_Tag</targetReference>
            </connector>
            <label>Tag not created</label>
        </rules>
    </decisions>
    <interviewLabel>MW Create Pending KBA Tag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MW Create Pending KBA Tag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pending_KBA_Tag</name>
        <label>Create Pending KBA Tag</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Application_Tag__c</field>
            <value>
                <stringValue>Pending KBA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varKBA.Application__c</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Tags__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Tag_Record</name>
        <label>Get Application Tag Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_KBA_tag_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Tag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending KBA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varKBA.Application__c</elementReference>
            </value>
        </filters>
        <object>Application_Tags__c</object>
        <outputAssignments>
            <assignToReference>PendingKBATag</assignToReference>
            <field>Application_Tag__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Tag_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PendingKBATag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varKBA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KBA_Details__c</objectType>
    </variables>
    <variables>
        <name>varTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Tags__c</objectType>
    </variables>
</Flow>
