unpackaged/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj09596e8785e4f921df14f8215c243f10_FireJBTrigger</name>
        <label>SalesforceObj09596e8785e4f921df14f8215c243f10_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj09596e8785e4f921df14f8215c243f10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Application__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj42c5678ef7772b519c17c71eed43f0dd_FireJBTrigger</name>
        <label>SalesforceObj42c5678ef7772b519c17c71eed43f0dd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj42c5678ef7772b519c17c71eed43f0dd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Application__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9a7c3a75685eaf937287301a44860c0a_FireJBTrigger</name>
        <label>SalesforceObj9a7c3a75685eaf937287301a44860c0a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9a7c3a75685eaf937287301a44860c0a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</name>
        <label>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj42c5678ef7772b519c17c71eed43f0dd</name>
        <label>JB_Decision_Null_Check_SalesforceObj42c5678ef7772b519c17c71eed43f0dd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</name>
        <label>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Decision</name>
        <label>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj09596e8785e4f921df14f8215c243f10</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( (5 OR 6)  OR 7) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner_pre_qual_shown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guide To Lenders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NerdWallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj09596e8785e4f921df14f8215c243f10_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj09596e8785e4f921df14f8215c243f10</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_State_change_Decision</name>
        <label>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj09596e8785e4f921df14f8215c243f10</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( (5 OR 6)  OR 7) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner_pre_qual_shown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guide To Lenders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NerdWallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj09596e8785e4f921df14f8215c243f10_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj09596e8785e4f921df14f8215c243f10</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Decision</name>
        <label>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj42c5678ef7772b519c17c71eed43f0dd</name>
            <conditionLogic>(1 AND  ( ( ( ( ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)  AND 11)  AND 12) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Experian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>creditkarma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NerdWallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MagnifyMoney</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SuperMoney</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wallethub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guide To Lenders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bankrate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj42c5678ef7772b519c17c71eed43f0dd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj42c5678ef7772b519c17c71eed43f0dd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_State_change_Decision</name>
        <label>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a7c3a75685eaf937287301a44860c0a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj42c5678ef7772b519c17c71eed43f0dd</name>
            <conditionLogic>NOT  (1 AND  ( ( ( ( ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)  AND 11)  AND 12) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Experian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>creditkarma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NerdWallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MagnifyMoney</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SuperMoney</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wallethub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guide To Lenders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bankrate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42c5678ef7772b519c17c71eed43f0dd_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj42c5678ef7772b519c17c71eed43f0dd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_Decision</name>
        <label>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9a7c3a75685eaf937287301a44860c0a</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9a7c3a75685eaf937287301a44860c0a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9a7c3a75685eaf937287301a44860c0a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_State_change_Decision</name>
        <label>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09596e8785e4f921df14f8215c243f10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9a7c3a75685eaf937287301a44860c0a</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9a7c3a75685eaf937287301a44860c0a_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9a7c3a75685eaf937287301a44860c0a</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj42c5678ef7772b519c17c71eed43f0dd</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
