unpackaged/main/default/flows/JBSystemFlow_genesis_Applications_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_FireJBTrigger</name>
        <label>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;genesis__Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj1c10ae9218ec9e360ebf004a47a42704_FireJBTrigger</name>
        <label>SalesforceObj1c10ae9218ec9e360ebf004a47a42704_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;genesis__Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;genesis__Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1c10ae9218ec9e360ebf004a47a42704</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj439a44cc24c13730d8f5150d107bf8c8_FireJBTrigger</name>
        <label>SalesforceObj439a44cc24c13730d8f5150d107bf8c8_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj439a44cc24c13730d8f5150d107bf8c8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj68b8ab1065d7a48000b42661c6e007b1_FireJBTrigger</name>
        <label>SalesforceObj68b8ab1065d7a48000b42661c6e007b1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj68b8ab1065d7a48000b42661c6e007b1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MailingCity&quot;,&quot;MailingState&quot;,&quot;MailingStreet&quot;,&quot;MailingPostalCode&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Account__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Borrower_s_Last_Name__c&quot;,&quot;Borrower_s_First_Name__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj700d17457938a24eb16cb3d355c29311_FireJBTrigger</name>
        <label>SalesforceObj700d17457938a24eb16cb3d355c29311_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj700d17457938a24eb16cb3d355c29311</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;genesis__Loan_Amount__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj85077ac487f9de769dc0efccf7e9157e_FireJBTrigger</name>
        <label>SalesforceObj85077ac487f9de769dc0efccf7e9157e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj85077ac487f9de769dc0efccf7e9157e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Payoff_UID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9190d06e857c5a582dadd9525cb116fd_FireJBTrigger</name>
        <label>SalesforceObj9190d06e857c5a582dadd9525cb116fd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9190d06e857c5a582dadd9525cb116fd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Expiry_Date__c&quot;,&quot;genesis__Term__c&quot;,&quot;genesis__Loan_Amount__c&quot;,&quot;genesis__Interest_Rate__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj937fc7d5935ed52ce79bb72b193b806f_FireJBTrigger</name>
        <label>SalesforceObj937fc7d5935ed52ce79bb72b193b806f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj937fc7d5935ed52ce79bb72b193b806f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_FireJBTrigger</name>
        <label>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjab9ba9888765d18fc42233eed630e6ac_FireJBTrigger</name>
        <label>SalesforceObjab9ba9888765d18fc42233eed630e6ac_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjab9ba9888765d18fc42233eed630e6ac</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;utm_source__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_FireJBTrigger</name>
        <label>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;genesis__Contact__c&quot;,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100008939</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;genesis__Contact__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:genesis__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</name>
        <label>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
            </connector>
            <label>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</name>
        <label>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</name>
        <label>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
            </connector>
            <label>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</name>
        <label>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
            </connector>
            <label>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj700d17457938a24eb16cb3d355c29311</name>
        <label>JB_Decision_Null_Check_SalesforceObj700d17457938a24eb16cb3d355c29311</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
            </connector>
            <label>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</name>
        <label>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
            </connector>
            <label>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</name>
        <label>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
            </connector>
            <label>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</name>
        <label>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
            </connector>
            <label>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</name>
        <label>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
            </connector>
            <label>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</name>
        <label>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
            </connector>
            <label>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</name>
        <label>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
            </connector>
            <label>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Decision</name>
        <label>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_State_change_Decision</name>
        <label>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Decision</name>
        <label>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1c10ae9218ec9e360ebf004a47a42704</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kba_success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kba_fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1c10ae9218ec9e360ebf004a47a42704_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1c10ae9218ec9e360ebf004a47a42704</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_State_change_Decision</name>
        <label>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</name>
            <conditionLogic>NOT  (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kba_success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kba_fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1c10ae9218ec9e360ebf004a47a42704_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Decision</name>
        <label>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj439a44cc24c13730d8f5150d107bf8c8</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>agent_document_verification_pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj439a44cc24c13730d8f5150d107bf8c8_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj439a44cc24c13730d8f5150d107bf8c8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_State_change_Decision</name>
        <label>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1c10ae9218ec9e360ebf004a47a42704</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>agent_document_verification_pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj439a44cc24c13730d8f5150d107bf8c8_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Decision</name>
        <label>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj68b8ab1065d7a48000b42661c6e007b1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj68b8ab1065d7a48000b42661c6e007b1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj68b8ab1065d7a48000b42661c6e007b1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_State_change_Decision</name>
        <label>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj68b8ab1065d7a48000b42661c6e007b1_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Decision</name>
        <label>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj700d17457938a24eb16cb3d355c29311</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj700d17457938a24eb16cb3d355c29311_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj700d17457938a24eb16cb3d355c29311</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_State_change_Decision</name>
        <label>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjab9ba9888765d18fc42233eed630e6ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj700d17457938a24eb16cb3d355c29311</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj700d17457938a24eb16cb3d355c29311_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj700d17457938a24eb16cb3d355c29311</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Decision</name>
        <label>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj85077ac487f9de769dc0efccf7e9157e</name>
            <conditionLogic>( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  And  (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__r.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj85077ac487f9de769dc0efccf7e9157e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj85077ac487f9de769dc0efccf7e9157e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_State_change_Decision</name>
        <label>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj85077ac487f9de769dc0efccf7e9157e</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_medium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>p3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj85077ac487f9de769dc0efccf7e9157e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj85077ac487f9de769dc0efccf7e9157e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Decision</name>
        <label>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9190d06e857c5a582dadd9525cb116fd</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9190d06e857c5a582dadd9525cb116fd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9190d06e857c5a582dadd9525cb116fd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_State_change_Decision</name>
        <label>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68b8ab1065d7a48000b42661c6e007b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9190d06e857c5a582dadd9525cb116fd</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9190d06e857c5a582dadd9525cb116fd_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9190d06e857c5a582dadd9525cb116fd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Decision</name>
        <label>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj937fc7d5935ed52ce79bb72b193b806f</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj937fc7d5935ed52ce79bb72b193b806f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj937fc7d5935ed52ce79bb72b193b806f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_State_change_Decision</name>
        <label>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj439a44cc24c13730d8f5150d107bf8c8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offer_shown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj937fc7d5935ed52ce79bb72b193b806f_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj937fc7d5935ed52ce79bb72b193b806f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Decision</name>
        <label>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docusign_loan_docs_sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_State_change_Decision</name>
        <label>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj85077ac487f9de769dc0efccf7e9157e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docusign_loan_docs_sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja854b7cdc6a54714b8457ec1a77c10f0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Decision</name>
        <label>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjab9ba9888765d18fc42233eed630e6ac</name>
            <conditionLogic>( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LendingTree</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditkarma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjab9ba9888765d18fc42233eed630e6ac_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjab9ba9888765d18fc42233eed630e6ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_State_change_Decision</name>
        <label>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9190d06e857c5a582dadd9525cb116fd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjab9ba9888765d18fc42233eed630e6ac</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LendingTree</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditkarma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjab9ba9888765d18fc42233eed630e6ac_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjab9ba9888765d18fc42233eed630e6ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Decision</name>
        <label>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_State_change_Decision</name>
        <label>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01457b3f6b0c09f3c89d2897487e6dd5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObje40b32a35fdc14d5eee841ad21c98ccc</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_genesis_Applications_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj700d17457938a24eb16cb3d355c29311</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
</Flow>
